<html>
<head>
	<title>Segunda lei da Termodinâmica, Teoria do Caos, Mecânica Quântica, Deus, a Vida e as Relações Humanas</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
</head>
<body>

<%= link_to 'Blog de Artigos',articles_path %>

<div class="container">
<h1>Um pouco sobre mim e meus pensamentos</h1>
<p>Olá visitante! Sou Nicholas Marques, aluno de ciência da computação na Universidade de Brasília, amante da matemática e alguns ramos da física como Termodinâmica. Desde sempre eu reflito sobre a vida e tento justificar as ações humanas baseado em teorias da física, já que por definição seres humanos tem ações de natureza física. Esses pensamentos serão apresentados nessa página, onde serão melhor explicados também e ficará a cargo do leitor acreditar e aceitar nesses pensamentos ou considerar apenas um bando de maluquices.<br>
Acredito que todos devem refletir sobre a vida, porém este não é um assunto tão discutido pelas pessoas corriqueiramente, já que vivemos no que chamo de "modo automático", onde devido às obrigações existentes com a sociedade precisamos abdicar do pensamento manual e começar a executar as tarefas (como estudar, trabalhar, comer, conversar) de maneira automática. Como se fossemos Sims (The Sims) e estivessemos sendo controlados no modo automático de jogo. Também me refiro à este estilo de vivência como inércia existencial, onde vivemos por inércia (apenas vivemos conforme o fluxo da vida). Acredito que viver deste modo o tempo todo seja ruim, as pessoas precisam refletir sobre a vida e sair do automático muitas vezes, pois coisas que são feitas no automático tendem a desgastar as coisas (um pouco de entropia aqui), basta ver peças de componentes mecânicos que executam tarefas repetitivas tendem a cessar seu funcionamento.
</p>
<hr>
<h2>Sumário de Ideias</h2>


<ul>
	<li><%= link_to 'Segunda Lei',segunda_lei_path %></li>
	<li><%= link_to 'Segunda Lei e o Surgimento da Vida',segunda_lei_e_surgimento_da_vida_path%></li>
	<li><%= link_to 'Teoria do Caos',teoria_do_caos_path %></li>
	<li><%= link_to 'Teoria do Caos e o Livre Arbítrio',teoria_do_caos_livre_arbitrio_path%></li>
	<li><%= link_to 'Teoria do Caos e a Vida',teoria_do_vida_path %></li>
	<li><%= link_to 'Teoria do Caos como Religiao',religiao_teoria_do_caos_path %></li>
	<li><%= link_to 'Mecânica Quântica e o Livre Arbítrio',mecanica_quantica_livre_arbitrio_path%></li>
</ul>
<br><hr>
<h2>Livros e Links Massa</h2>
<h4>Livros</h4>
<a href="https://en.wikipedia.org/wiki/Chaos:_Making_a_New_Science" target="blank"><img src="chaos.jpg" alt="Chaos Making a New Science" title="Chaos Making a New Science"></a>
<a href="https://pt.wikipedia.org/wiki/Uma_Breve_Hist%C3%B3ria_do_Tempo" target="blank"><img src="historia_tempo.jpeg" alt="Uma Breve História do Tempo" title="Uma Breve História do Tempo"></a>
<h4>Links</h4>
<a href="https://en.wikipedia.org/wiki/Entropy_and_life"><p>Entropy and Life - Wikipédia</p></a>
<br><hr>
<h2>Sugestões e mais pensamentos massa? Compartilhe comigo!</h2>
<textarea rows="15" cols="50" placeholder="Digite aqui sua sugestão"></textarea><br>
<input type="email" name="Email" placeholder="Email"> Email (opcional)
<br><button onclick="enviado()"><p>Enviar</p></button>
</div>

<!--<script src="Ideias.js"></script>-->
</body>
</html>
